[submodule "ROS/src/ROS-TCP-Endpoint"]
	path = ROS/src/ROS-TCP-Endpoint
	url = git@github.com:Unity-Technologies/ROS-TCP-Endpoint.git
[submodule "ROS/src/moveit_msgs"]
	path = ROS/src/moveit_msgs
	url = https://github.com/ros-planning/moveit_msgs.git
[submodule "ROS/src/robotiq"]
	path = ROS/src/robotiq
	url = https://github.com/JStech/robotiq.git
[submodule "ROS/src/universal_robot"]
	path = ROS/src/universal_robot
	url = https://github.com/ros-industrial/universal_robot.git
