<launch>
    <rosparam file="$(find ur_moveit)/config/params.yaml" command="load"/>
    '<include file="$(find ur_moveit)/launch/demo.launch" />
    <node name="server_endpoint" pkg="ros_tcp_endpoint" type="default_server_endpoint.py" args="--wait" output="screen" respawn="true" />
    <node name="mover" pkg="ur_moveit" type="mover.py" args="--wait" output="screen"/>
</launch>
